* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #EEEEEE;

}

header {
    background-color: #313131;
	color: #fff;
	padding: 5px;
	text-align: center;
}

nav {
    background: linear-gradient( 135deg,#313131,#525252);
	border-right: 1px solid #bdc3c7;
	display: inline-block;
	float: right;
	height: 100%;
	width: 15%;
}

nav ul {
	list-style: none;
	padding: 20px;
}

nav ul li {
	margin-bottom: 10px;
}

nav ul li a {
	color: #fcfdff;
	display: block;
	padding: 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #313131;
	color: #fff;
}
main {
	display: inline-block;
	float: right;
	padding: 20px;
	width: 85%;
}

.dashboard-item {
	background-color: #bdc3c7;
	border: 1px solid #95a5a6;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 150px;
	margin: 10px;
	padding: 20px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	width: 30%;
	border-radius:2%;
}
#item1 {
background-image: url(./img/h3.png);
background-size:contain;
background-position-x: center;

}
#item2 {
background-image: url(./img/sh.png);
background-size:contain;
background-position-x: center;	
}
#item3 {
background-image: url(./img/mony.png);
background-size:contain;
background-position-x: center;
}
#item4 {
background-image: url(./img/b.png);
background-size:contain;
background-position-x: center;
}
#item5 {
background-image: url(./img/td.png);
background-size:contain;
background-position-x: center;
}
#item6 {
background-image: url(./img/ex.png);
background-size:contain;
background-position-x: center;
}

.dashboard-item:hover {
	transform: scale(1.1);
}

.dashboard-item h2 {
	font-size: 20px
}